### 1 - Chargement des data

In [18]:
import pandas as pd

df = pd.read_csv("GlobalLandTemperaturesByCountry.csv")
df.info()
##########
df = pd.read_csv("GlobalLandTemperaturesByCountry.csv", index_col="dt", parse_dates=True)
df.info()
##########
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577462 entries, 0 to 577461
Data columns (total 4 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             577462 non-null  object
 1   AverageTemperature             544811 non-null  float64
 2   AverageTemperatureUncertainty  545550 non-null  float64
 3   Country                        577462 non-null  object
dtypes: float64(2), object(2)
memory usage: 17.6+ MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 577462 entries, 1743-11-01 to 2013-09-01
Data columns (total 3 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   AverageTemperature             544811 non-null  float64
 1   AverageTemperatureUncertainty  545550 non-null  float64
 2   Country                        577462 non-null  object
dtypes: float64(2), object(1)
memory usage: 17.6+ MB

            AverageTemperature  AverageTemperatureUncertainty   Country
dt
1743-11-01               4.384                          2.294     Åland
1743-12-01                 NaN                            NaN     Åland
1744-01-01                 NaN                            NaN     Åland
1744-02-01                 NaN                            NaN     Åland
1744-03-01                 NaN                            NaN     Åland
...                        ...                            ...       ...
2013-05-01              19.059                          1.022  Zimbabwe
2013-06-01              17.613                          0.473  Zimbabwe
2013-07-01              17.000                          0.453  Zimbabwe
2013-08-01              19.759                          0.717  Zimbabwe
2013-09-01                 NaN                            NaN  Zimbabwe

[577462 rows x 3 columns]

### 2 - Filtrer les données par pays

In [25]:
#afficher les valeurs uniques de country
#df.Country.unique()

#On va partir du principe que c'est France (Europe qu'on doit choisir)
df_fe = df[df["Country"] == "France (Europe)"]
df_fe.info()

df_fe

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3239 entries, 1743-11-01 to 2013-09-01
Data columns (total 3 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   AverageTemperature             3166 non-null   float64
 1   AverageTemperatureUncertainty  3166 non-null   float64
 2   Country                        3239 non-null   object
dtypes: float64(2), object(1)
memory usage: 101.2+ KB

            AverageTemperature  AverageTemperatureUncertainty          Country
dt
1743-11-01               7.397                          2.097  France (Europe)
1743-12-01                 NaN                            NaN  France (Europe)
1744-01-01                 NaN                            NaN  France (Europe)
1744-02-01                 NaN                            NaN  France (Europe)
1744-03-01                 NaN                            NaN  France (Europe)
...                        ...                            ...              ...
2013-05-01              11.476                          0.290  France (Europe)
2013-06-01              16.328                          0.287  France (Europe)
2013-07-01              21.291                          0.376  France (Europe)
2013-08-01              19.471                          0.374  France (Europe)
2013-09-01                 NaN                            NaN  France (Europe)

[3239 rows x 3 columns]

### 3 - Filtrer les données par range de date (1800 -> maintenant)

In [27]:
df_fe_1800_now = df_fe['1800':]
df_fe_1800_now

#Il y a un pb. 2013 n'est pas complète. On va devoir s'arreter à 2012
df_fe_1800_now = df_fe['1800':'2012']
df_fe_1800_now

            AverageTemperature  AverageTemperatureUncertainty          Country
dt
1800-01-01               3.914                          2.194  France (Europe)
1800-02-01               3.300                          5.026  France (Europe)
1800-03-01               4.582                          4.286  France (Europe)
1800-04-01              11.619                          2.144  France (Europe)
1800-05-01              14.931                          1.561  France (Europe)
...                        ...                            ...              ...
2012-08-01              20.633                          0.442  France (Europe)
2012-09-01              15.964                          0.371  France (Europe)
2012-10-01              12.122                          0.281  France (Europe)
2012-11-01               7.743                          0.224  France (Europe)
2012-12-01               5.243                          0.290  France (Europe)

[2556 rows x 3 columns]