### 1 - Chargement des data

In [15]:
import pandas as pd

df = pd.read_csv("GlobalLandTemperaturesByCountry.csv")
df.info()
##########
df = pd.read_csv("GlobalLandTemperaturesByCountry.csv", index_col="dt", parse_dates=True)
df.info()
##########
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577462 entries, 0 to 577461
Data columns (total 4 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             577462 non-null  object
 1   AverageTemperature             544811 non-null  float64
 2   AverageTemperatureUncertainty  545550 non-null  float64
 3   Country                        577462 non-null  object
dtypes: float64(2), object(2)
memory usage: 17.6+ MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 577462 entries, 1743-11-01 to 2013-09-01
Data columns (total 3 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   AverageTemperature             544811 non-null  float64
 1   AverageTemperatureUncertainty  545550 non-null  float64
 2   Country                        577462 non-null  object
dtypes: float64(2), object(1)
memory usage: 17.6+ MB

            AverageTemperature  AverageTemperatureUncertainty   Country
dt
1743-11-01               4.384                          2.294     Åland
1743-12-01                 NaN                            NaN     Åland
1744-01-01                 NaN                            NaN     Åland
1744-02-01                 NaN                            NaN     Åland
1744-03-01                 NaN                            NaN     Åland
...                        ...                            ...       ...
2013-05-01              19.059                          1.022  Zimbabwe
2013-06-01              17.613                          0.473  Zimbabwe
2013-07-01              17.000                          0.453  Zimbabwe
2013-08-01              19.759                          0.717  Zimbabwe
2013-09-01                 NaN                            NaN  Zimbabwe

[577462 rows x 3 columns]

### 2 - Filtrer les données par pays

In [16]:
#afficher les valeurs uniques de country
#df.Country.unique()

#On va partir du principe que c'est France (Europe qu'on doit choisir)
df_fe = df[df["Country"] == "France (Europe)"]
df_fe.info()

df_fe

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3239 entries, 1743-11-01 to 2013-09-01
Data columns (total 3 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   AverageTemperature             3166 non-null   float64
 1   AverageTemperatureUncertainty  3166 non-null   float64
 2   Country                        3239 non-null   object
dtypes: float64(2), object(1)
memory usage: 101.2+ KB

            AverageTemperature  AverageTemperatureUncertainty          Country
dt
1743-11-01               7.397                          2.097  France (Europe)
1743-12-01                 NaN                            NaN  France (Europe)
1744-01-01                 NaN                            NaN  France (Europe)
1744-02-01                 NaN                            NaN  France (Europe)
1744-03-01                 NaN                            NaN  France (Europe)
...                        ...                            ...              ...
2013-05-01              11.476                          0.290  France (Europe)
2013-06-01              16.328                          0.287  France (Europe)
2013-07-01              21.291                          0.376  France (Europe)
2013-08-01              19.471                          0.374  France (Europe)
2013-09-01                 NaN                            NaN  France (Europe)

[3239 rows x 3 columns]

### 3 - Filtrer les données par range de date (1800 -> maintenant)

In [17]:
df_fe_1800_now = df_fe['1800':]
df_fe_1800_now

#Il y a un pb. 2013 n'est pas complète. On va devoir s'arreter à 2012
df_fe_1800_now = df_fe['1800':'2012']
df_fe_1800_now

            AverageTemperature  AverageTemperatureUncertainty          Country
dt
1800-01-01               3.914                          2.194  France (Europe)
1800-02-01               3.300                          5.026  France (Europe)
1800-03-01               4.582                          4.286  France (Europe)
1800-04-01              11.619                          2.144  France (Europe)
1800-05-01              14.931                          1.561  France (Europe)
...                        ...                            ...              ...
2012-08-01              20.633                          0.442  France (Europe)
2012-09-01              15.964                          0.371  France (Europe)
2012-10-01              12.122                          0.281  France (Europe)
2012-11-01               7.743                          0.224  France (Europe)
2012-12-01               5.243                          0.290  France (Europe)

[2556 rows x 3 columns]

### 3 bis - Petit clean

In [18]:
# On vire la colonne uncertainty
del df_fe_1800_now["AverageTemperatureUncertainty"]
df_fe_1800_now

            AverageTemperature          Country
dt
1800-01-01               3.914  France (Europe)
1800-02-01               3.300  France (Europe)
1800-03-01               4.582  France (Europe)
1800-04-01              11.619  France (Europe)
1800-05-01              14.931  France (Europe)
...                        ...              ...
2012-08-01              20.633  France (Europe)
2012-09-01              15.964  France (Europe)
2012-10-01              12.122  France (Europe)
2012-11-01               7.743  France (Europe)
2012-12-01               5.243  France (Europe)

[2556 rows x 2 columns]

### 4 - Ajout des années manquantes

In [37]:
#on va récupérer les valeurs du table de la page wikipédia
last_year = pd.read_html("https://fr.wikipedia.org/wiki/Climat_de_la_France")[0]
last_year
#On voit qu'on a un problème car les décimales sont pas au bon format => ","
last_year = pd.read_html("https://fr.wikipedia.org/wiki/Climat_de_la_France",decimal=',',thousands='.')[0]
last_year
# On va rajouter le parsing et indexing de date
last_year = pd.read_html("https://fr.wikipedia.org/wiki/Climat_de_la_France",decimal=',',thousands='.')[0]
last_year

#On clean les lignes qu'on veut pas
#last_year.drop(last_year.index[11:], axis=0, inplace=True)
#last_year

#last_year.drop(last_year.index[0], axis=0, inplace=True)
#last_year

#on clean les colonnes

,Année,Moyenne annuelle,Janvier,Février,Mars,Avril,Mai,Juin,Juillet,Août,Septembre,Octobre,Novembre,Décembre
1,2022,14.5,5.0,8.1,9.9,11.8,17.8,21.2,23.2,23.7,18.2,17.2,10.9,6.7
2,2021,12.9,4.9,8.2,8.9,10.4,13.8,20.3,20.7,20.0,19.3,13.5,7.9,6.9
3,2020,14.1,7.1,9.3,9.4,14.1,16.5,18.6,21.6,22.6,19.0,13.0,10.5,6.9
4,2019,13.7,4.6,8.0,10.1,11.7,13.9,20.1,23.0,21.8,18.5,15.1,8.8,8.1
5,2018,13.9,8.4,3.5,8.2,13.8,16.3,20.1,23.2,22.3,19.0,14.4,9.6,7.7
6,2017,13.4,3.1,8.2,11.0,11.4,16.5,21.2,21.7,21.5,16.4,14.9,8.2,5.9
7,2016,13.1,7.1,7.3,8.0,11.1,15.0,18.7,21.3,21.5,19.7,12.6,8.8,5.6
8,2015,13.6,5.6,4.9,9.1,12.6,15.5,19.8,22.8,21.6,16.4,12.7,11.2,9.5
9,2014,13.8,7.6,7.9,9.8,13.0,14.7,19.6,20.6,19.1,18.9,15.9,11.3,6.3
10,2013,12.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN