### 1 - Chargement des data

In [18]:
import pandas as pd

df = pd.read_csv("GlobalLandTemperaturesByCountry.csv")
df.info()
##########
df = pd.read_csv("GlobalLandTemperaturesByCountry.csv", index_col="dt", parse_dates=True)
df.info()
##########
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577462 entries, 0 to 577461
Data columns (total 4 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             577462 non-null  object
 1   AverageTemperature             544811 non-null  float64
 2   AverageTemperatureUncertainty  545550 non-null  float64
 3   Country                        577462 non-null  object
dtypes: float64(2), object(2)
memory usage: 17.6+ MB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 577462 entries, 1743-11-01 to 2013-09-01
Data columns (total 3 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   AverageTemperature             544811 non-null  float64
 1   AverageTemperatureUncertainty  545550 non-null  float64
 2   Country                        577462 non-null  object
dtypes: float64(2), object(1)
memory usage: 17.6+ MB

            AverageTemperature  AverageTemperatureUncertainty   Country
dt
1743-11-01               4.384                          2.294     Åland
1743-12-01                 NaN                            NaN     Åland
1744-01-01                 NaN                            NaN     Åland
1744-02-01                 NaN                            NaN     Åland
1744-03-01                 NaN                            NaN     Åland
...                        ...                            ...       ...
2013-05-01              19.059                          1.022  Zimbabwe
2013-06-01              17.613                          0.473  Zimbabwe
2013-07-01              17.000                          0.453  Zimbabwe
2013-08-01              19.759                          0.717  Zimbabwe
2013-09-01                 NaN                            NaN  Zimbabwe

[577462 rows x 3 columns]